
Intermediate/CachedAssetRegistry.bin
Saved/Autosaves/Game/LenhartChris/Maps/GameLevels/Caves_Auto1.umap
Saved/Autosaves/Game/LenhartChris/Maps/GameLevels/Caves_Auto2.umap
Saved/Autosaves/PackageRestoreData.json
Saved/Backup/Caves_2021-02-08-03-12-56.umap
Saved/Backup/Caves_2021-02-08-03-24-18.umap
Saved/Backup/Caves_2021-02-08-12-41-01.umap
Saved/Backup/Caves_2021-02-08-13-16-58.umap
Saved/Backup/FireTrap_2021-02-08-13-16-32.uasset
Saved/Config/CrashReportClient/UE4CC-Windows-298CCA0645B6950E9DF1BBBCB869CA05/CrashReportClient.ini
Saved/Config/CrashReportClient/UE4CC-Windows-79025E6D46B44901E346E2AB1CD08911/CrashReportClient.ini
Saved/Config/CrashReportClient/UE4CC-Windows-EB6BA38E47FA1E0B3A7CBDB5FD9224C5/CrashReportClient.ini
Saved/Config/Windows/EditorPerProjectUserSettings.ini
Saved/Logs/PuzzleRunner-backup-2021.02.03-20.48.59.log
Saved/Logs/PuzzleRunner-backup-2021.02.08-20.23.22.log
Saved/Logs/PuzzleRunner.log
Saved/Autosaves/Game/LenhartChris/Maps/GameLevels/Caves_Auto1.umap
Saved/Autosaves/Game/LenhartChris/Maps/GameLevels/Caves_Auto1.umap
